@font-face{
  font-family: sans-serif;
  src: url("./font/FuturaPT-Book.woff2")format(".woff2")
  ,    url("./font/FuturaPT-Book.woff") format(".woff")
  ,    url("./font/FuturaPT-Book.eot")  format(".eot")
  ,    url("./font/FuturaPT-Book.ttf")  format(".ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; 
}
@font-face{
  font-family: sans-serif;
  src: url("./font/FuturaPT-Light.woff2")format(".woff2")
  ,    url("./font/FuturaPT-Light.woff") format(".woff")
  ,    url("./font/FuturaPT-Light.eot")  format(".eot")
  ,    url("./font/FuturaPT-Light.ttf")  format(".ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; 
}
@font-face{
  font-family: sans-serif;
  src: url("./font/FuturaPT-Medium.woff2")format(".woff2")
  ,    url("./font/FuturaPT-Medium.woff") format(".woff")
  ,    url("./font/FuturaPT-Medium.eot")  format(".eot")
  ,    url("./font/FuturaPT-Medium.ttf")  format(".ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; 
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
