/* .dynamicInput{
    height: 64px;

    margin-top: 32px;
    margin-right: 32px;

    box-sizing: border-box;
    border: 2px solid rgb(12, 69, 126);
    border-radius: 32px;

    background: rgb(255, 255, 255);

    font-family: 'Open Sans', sans-serif;
    font-size: 47px;
    font-weight: 300;
} */